/*
 * SPDX-FileCopyrightText: 2024 UL Research Institutes
 * SPDX-License-Identifier: Apache-2.0
 */

.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.pointer {
  cursor: pointer;
}

.pointer-link {
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.pointer-link:hover {
  color: var(--mantine-color-ul-light-blue-1);
  text-decoration: underline;
}

.home-card {
  cursor: pointer;
  transition: all ease-in-out 0.1s;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-9));
  }
}

.text-highlight {
  font-weight: 700;
}

.copy-text {
  cursor: copy;
  overflow-wrap: 'break-word';

  &:hover {
    @mixin light {
      color: var(--mantine-color-ul-dark-blue-9);
    }

    @mixin dark {
      color: var(--mantine-color-ul-dark-blue-1);
    }
  }
}
