/*
 * SPDX-FileCopyrightText: 2024 UL Research Institutes
 * SPDX-License-Identifier: Apache-2.0
 */

.master {
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-clip: padding-box;
}

.master:hover {
  border-color: var(--mantine-color-ul-dark-blue-9);
}

.target {
  position: relative;
  border-radius: var(--mantine-radius-md);
}

.target > * {
  transition: all 0.3s ease;
}

.hover-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  transition: all 0.3s ease;
  box-sizing: border-box;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  filter: blur(5px);
  transform: translateX(-50px);
}

.hover-label > * {
  filter: none;
  transition: all 0.1s ease;
  pointer-events: none;
}

.master:hover .target > *:not(.hover-label) {
  filter: blur(5px);
}

.master:hover .hover-label {
  transform: translateX(0);
  opacity: 1;
  filter: none;
}

.hover-hightlight {
  transition: color 0.3s ease;
}

.master:hover .hover-highlight {
  color: var(--mantine-color-ul-bright-blue-9);
}
