/*
 * SPDX-FileCopyrightText: 2024 UL Research Institutes
 * SPDX-License-Identifier: Apache-2.0
 */

@keyframes blink {
  0%,
  100% {
    opacity: 0.1;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 0.1;
  }
}

.path1 {
  opacity: 0.1;
  animation: blink 1.5s infinite ease-in-out;
  animation-delay: 0s;
}

.path2 {
  opacity: 0.1;
  animation: blink 1.5s infinite ease-in-out;
  animation-delay: 0.5s;
}

.path3 {
  opacity: 0.1;
  animation: blink 1.5s infinite ease-in-out;
  animation-delay: 1s;
}
