/*
 * SPDX-FileCopyrightText: 2024 UL Research Institutes
 * SPDX-License-Identifier: Apache-2.0
 */

.title {
  font-weight: 700;
  text-decoration: none;
  transition: all linear 0.1s;
  color: var(--mantine-color-dark);

  @mixin hover {
    color: light-dark(var(--mantine-color-ul-dark-blue-9), var(--mantine-color-ul-dark-blue-1));
  }
}

.nav {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0px solid black;
  border-top-left-radius: var(--mantine-radius-sm);
  border-top-right-radius: var(--mantine-radius-sm);
  font-weight: 500;
  text-decoration: none;
  text-wrap: nowrap;
  transition: all linear 0.1s;
  color: var(--mantine-color-dark);
  cursor: pointer;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  }

  &[data-active='true'] {
    border-bottom: 1px solid
      light-dark(var(--mantine-color-ul-dark-blue-9), var(--mantine-color-ul-dark-blue-1));
    font-weight: 700;
  }
}

.bottomLink {
  text-decoration: none;
  text-align: end;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  cursor: pointer;
  transition: linear all 1s;

  @mixin hover {
    font-weight: 700;
    color: var(--mantine-color-gray-3);
    text-decoration: underline;
  }
}

.bottomText {
  text-align: end;
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-white);
}
