/*
 * SPDX-FileCopyrightText: 2024 UL Research Institutes
 * SPDX-License-Identifier: Apache-2.0
 */

.section {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  justify-content: center;
}

.splash-section {
  background: white;
}

.splash-btn {
  transition: all 0.2s linear;
  color: white;
  background: linear-gradient(
    to right,
    var(--mantine-color-ul-dark-blue-5),
    var(--mantine-color-ul-dark-blue-9) 100%
  );

  &:hover {
    box-shadow: 0 0 10px var(--mantine-color-ul-bright-blue-9);
  }
}

.usecases-section {
  background: linear-gradient(
    to right,
    var(--mantine-color-ul-bright-blue-6),
    var(--mantine-color-ul-dark-blue-9) 100%
  );
}

.usecases-btn {
  transition: all 0.2s linear;
  color: black;
  background-color: var(--mantine-color-gray-2);

  &:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-ul-dark-blue-9);
    box-shadow: 0 0 10px var(--mantine-color-ul-bright-blue-1);
  }
}

.systems-section {
  background: linear-gradient(to right, var(--mantine-color-ul-bright-blue-1), 'white' 100%);
}
