/*
 * SPDX-FileCopyrightText: 2024 UL Research Institutes
 * SPDX-License-Identifier: Apache-2.0
 */

.card {
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-clip: padding-box;
}

.scores {
  position: relative;
  border-radius: var(--mantine-radius-md);
}

.scores > * {
  transition: all 0.3s ease;
}

.hover-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  transform: translateX(-20%);
  opacity: 0;
  transition: all 0.3s ease;
  box-sizing: border-box;
  filter: blur(10px);
  z-index: 5;
}

.hover-label > * {
  filter: none;
  transition: all 0.1s ease;
}

.card:hover .scores > *:not(.hover-label) {
  filter: blur(10px);
}

.card:hover .hover-label {
  opacity: 1;
  transform: translateX(0%);
  filter: none;
}

.method-title {
  transition: color 0.3s ease;
}

.card:hover .method-title {
  color: var(--mantine-color-ul-bright-blue-9);
}

.card:hover {
  border-color: var(--mantine-color-ul-dark-blue-9);
}

.blob {
  position: relative;
  overflow: hidden;
}

.blob,
.blob > * {
  transition: filter 0.3s ease;
}

.blob::after {
  content: attr(data-hover-label);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  opacity: 0;
  transition: all 0.3s ease;
  box-sizing: border-box;
  filter: none;
}

.card:hover .blob > * {
  filter: blur(10px);
}

.card:hover .blob::after {
  opacity: 1;
}
