/*
 * SPDX-FileCopyrightText: 2024 UL Research Institutes
 * SPDX-License-Identifier: Apache-2.0
 */

.cardWrapper {
  position: relative;
  margin-bottom: 15px;
  text-decoration: none;
}

.card {
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.cardWrapper:hover .card {
  transform: translateY(-9px);
}

.cardWrapper::before {
  content: attr(data-label);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--mantine-color-ul-light-blue-1);
  color: var(--mantine-color-dark-6);
  padding-top: 4px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-100%);
  z-index: 1;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--mantine-font-family);
  border: 1px solid var(--mantine-color-default-border);
  border-radius: 0 0 5px 5px;
}

.cardWrapper:hover::before {
  opacity: 1;
  transform: translateY(-50%);
  animation: shine 0.8s ease-in-out forwards;
  background-image: linear-gradient(
    to right,
    var(--mantine-color-ul-light-blue-1) 0%,
    var(--mantine-color-ul-light-blue-1) 40%,
    var(--mantine-color-ul-bright-blue-1) 50%,
    var(--mantine-color-ul-light-blue-1) 60%,
    var(--mantine-color-ul-light-blue-1) 100%
  );
  background-size: 300% 100%;
  background-position: 100% 0;
}

@keyframes shine {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0% 0;
  }
}
