/*
 * SPDX-FileCopyrightText: 2024 UL Research Institutes
 * SPDX-License-Identifier: Apache-2.0
 */

.avatar {
  transition: all 0.2s ease 0s;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset;
  }

  &:active {
    background-color: rgba(0, 0, 0 0.5);
  }
}
